<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="one.util.huntbugs.ui.Startup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="one.util.huntbugs.ui.commands"
            name="HuntBugs">
      </category>
      <command
            categoryId="one.util.huntbugs.ui.commands"
            id="one.util.huntbugs.ui.analyzeProject"
            name="Analyze Project">
      </command>
      <command
            categoryId="one.util.huntbugs.ui.commands"
            id="one.util.huntbugs.ui.deleteMarkers"
            name="Delete Markers">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         <menu
               label="HungBugs"
               mnemonic="H"
               tooltip="Java bytecode static analyzer tool based on Procyon Compiler Tools">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="one.util.huntbugs.ui.projectSelected">
               </reference>
            </visibleWhen>
            <command
                  commandId="one.util.huntbugs.ui.analyzeProject"
                  label="Analyze Project"
                  mnemonic="A"
                  style="push">
            </command>
            <command
                  commandId="one.util.huntbugs.ui.deleteMarkers"
                  label="Delete Markers"
                  mnemonic="D"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="one.util.huntbugs.ui.handlers.AnalyzeProject"
            commandId="one.util.huntbugs.ui.analyzeProject">
         <activeWhen>
            <reference
                  definitionId="one.util.huntbugs.ui.projectSelected">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="one.util.huntbugs.ui.handlers.DeleteMarkers"
            commandId="one.util.huntbugs.ui.deleteMarkers">
         <activeWhen>
            <reference
                  definitionId="one.util.huntbugs.ui.projectSelected">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="one.util.huntbugs.ui.analyzeProject"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+4">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="one.util.huntbugs.ui.projectSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="org.eclipse.jdt.core.IJavaProject">
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         id="one.util.huntbugs.ui.marker"
         name="HuntBugs"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.jdt.core.problem">
      </super>
      <attribute
            name="severity">
      </attribute>
      <attribute
            name="location">
      </attribute>
      <attribute
            name="message">
      </attribute>
   </extension>

</plugin>
